@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden;
    background-color: #f0f0f0;
}
.clgPic{
    background-image: linear-gradient(to left , rgba(0, 0, 0, 0.582),rgba(0, 0, 0, 0.593)), url('./images/gmr.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: zoominoutsinglefeatured 30s infinite ;
}

@layer components{
    .dividerStyle{
        @apply  relative max-w-[500px] mx-auto text-center text-black font-bold  before:h-[2px] before:w-[70px] before:bg-red-600 before:block before:absolute before:top-[50%] before:left-0 after:h-[2px] after:w-[70px] after:bg-red-600 after:block after:absolute after:top-[50%] after:right-0 text-sm lg:text-3xl md:before:w-[130px] md:after:w-[130px] ;
    }
    .tabDesign{
        @apply w-full rounded-lg py-2.5 text-sm font-medium leading-5 text-blue-700 ring-white ring-opacity-60 ring-offset-2 ring-offset-blue-400 focus:outline-none focus:ring-2
    }
}

@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.2,1.2);
    }
    100% {
        transform: scale(1,1);
    }
}


.loginBg{
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.838), rgba(0, 0, 0, 0.689)),url('./images/pencil.jpg');
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.active{
    background-color: rgb(99 102 241);
    color: white;
}